<!DOCTYPE html>
<html>
  <head>
    <title>Logged In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
    <a href="/signup">Signup</a>
  </body>
</html>
